configuration {
	modes: "window,drun,run,filebrowser";
	font: "Pixel Code 12";
	location: 0;
	fixed-num-lines: true;
	show-icons: true;
	terminal: "ghostty";
	icon-theme: "Papirus-Dark";
	drun-display-format: "{name}";
	window-thumbnail: true;
}

@import "theme"
